
beautifulsoup4==4.10.0

bs4==0.0.1

glob2==0.7

matplotlib==3.5.1
matplotlib-inline==0.1.3
MetPy==1.2.0

more-itertools==8.12.0

numpy==1.21.5
opencv-python==4.5.5.62
openpyexcel==2.5.14
openpyxl==3.0.9

pandas==1.3.5
pandas-datapackage-reader==0.18.0

Pillow==9.0.0

python-dateutil==2.8.2
python-dotenv==0.19.2
pytweening==1.0.4

requests==2.27.1
scipy==1.7.3
seaborn==0.11.2
selenium==4.1.0

simplejson==3.17.6

statsmodels==0.13.1
streamlit==1.4.0
streamlit-aggrid==0.2.2.post4
streamlit-folium==0.4.0

tzdata==2021.5
tzlocal==4.1
urllib3==1.26.7

XlsxWriter==3.0.2


